---
layout: default
---

<div class="page-header">
    <div class="page-header-inner">
        {% if page.chapterTitle %}<h3 class="page-kicker">{{ page.chapterTitle }}</h3>{% endif %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.chapterSubtitle %}<p class="page-subtitle">{{ page.chapterSubtitle }}</p>{% endif %}
    </div>
</div>

<div class="text">

<nav role="navigation" class="toc">
    <ol class="toc-list">
        <li class="toc-li-minor">
        	<a href="/foreword">
                <h3>序文 - Josh Clark と Dan Mall 著</h3>
            </a>
        </li>
        <li>
            <a href="/chapter-1">
	            <span>1.</span>
                <h3>システムをデザインする</h3>
                <p>ページではなく、デザインシステムを作る</p>
            </a>
        </li>
        <li>
            <a href="/chapter-2">
                <span>2.</span>
                <h3>Atomic Design の方法論</h3>
                <p>原子、分子、有機体、テンプレート、そしてページ</p>
            </a>
        </li>
        <li>
            <a href="/chapter-3">
                <span>3.</span>
                <h3>商売道具</h3>
                <p>パターンラボと効果的なスタイルガイドの品質</p>
            </a>
        </li>
        <li>
            <a href="/chapter-4">
                <span>4.</span>
                <h3>The Atomic Workflow</h3>
                <p>人、プロセス、そしてデザインシステムを実現する</p>
            </a>
        </li>
        <li>
            <a href="/chapter-5">
                <span>5.</span>
                <h3>デザインシステムの維持</h3>
                <p>デザインシステムに時の試練を乗り越えさせる</p>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/thanks">
                <h3>感謝と謝辞</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/resources">
                <h3>リソース</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/author">
                <h3>著者紹介</h3>
            </a>
        </li>
    </ol>
</nav>

{{ content }}

</div>
